.bg-body-custom {
  background-color: #4831d4;
}
.btn-custombtn {
  background-color: #ccf381;
  padding: 12px;
  border-radius: 20px;
  color: #4831d4;
  font-weight: 600;
}

.hero {
  background-color: #4831d4;
  color: white;
  padding-left: 100px;
}

.hero .job {
  font-size: 60px;
  color: #ccf381;
}
.hero h2 {
  font-size: 106px;
  color: #ccf381;
}
.hero h3 {
  font-weight: 300;
  font-size: 26px;
}

.hero img {
  border: 18px solid #ccf381;
}

.services {
  color: #4831d4;
  background-color: #f4ffe0;
  border-radius: 10px;
  padding: 50px;
}

.services h5 {
  font-size: 28px;
}

.services p {
  font-size: 18px;
}
section h3 {
  color: #4831d4;
  font-size: 46px;
  padding-top: 40px;
}

footer {
  background-color: #f4ffe0;
}
footer h3 {
  color: #4831d4;
  font-size: 40px;
  padding-top: 40px;
}
footer p {
  color: #4831d4;
  font-size: 20px;
}
footer .social-links a {
  margin: 0 10px;
  color: #4831d4;

  padding: 10px 15px;
  font-size: 36px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: #9a90d8;
}
.open-sourced {
  font-size: 13px;
}
.email-link {
  font-size: 26px;
  color: #4831d4;
  text-decoration: none;
}
.email-link:hover {
  color: #9a90d8;
}

/* Contact page*/

.content-container {
  background-color: #f4ffe0;

  background-image: url("/src/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: #4831d4;
  padding: 100px;
}

.content-container h1 {
  color: #4831d4;
}
.content a {
  color: #4831d4;
}

.fa-linkedin {
  font-size: 50px;
}
.content a:hover {
  color: #9a90d8;
}
.email-contact,
.linkedin-contact,
.phone-contact,
.resume {
  background-color: rgba(237, 252, 210, 0.4);

  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 768px;
}

/* Work page*/

.work-projects h4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #4831d4;
  font-size: 40px;
}

.work-projects h5 {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #4831d4;
  font-size: 32px;
}
.work-projects p {
  color: #4831d4;
  font-size: 18px;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 5px 12px;
  }
  .hero .job {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 66px;
  }
  .hero h3 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .hero img {
    width: 280px;
  }
  footer h3 {
    font-size: 30px;
  }

  footer .email-link {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
  }

  footer .social-links .fa-linkedin,
  .fa-github {
    font-size: 26px;
  }
  .email-contact a {
    font-size: 15px;
  }
  .phone-contact h5 {
    font-size: 15px;
  }
  .content-container {
    background-size: cover;

    padding: 0px;
  }

  section h3 {
    font-size: 32px;
  }

  .services {
    margin: 0;
  }
  .services h5 {
    font-size: 20px;
  }

  .services p {
    font-size: 16px;
  }
  .btn-custombtn {
    display: block;
    justify-content: center;
  }
  .work-projects {
    text-align: center;
  }

  .work-projects h4 {
    font-size: 26px;
  }
  .work-projects h5 {
    font-size: 22px;
    margin: 10px auto;
  }
  .work-projects p {
    font-size: 16px;
  }
}
