.bg-body-custom {
  background-color: #4831d4;
}
.btn-custombtn {
  background-color: #ccf381;
  padding: 12px;
  border-radius: 20px;
}

.hero {
  background-color: #4831d4;
  color: white;
  padding-left: 100px;
}

.hero .job {
  font-size: 60px;
  color: #ccf381;
}
.hero h2 {
  font-size: 86px;
  color: #ccf381;
}
.hero h3 {
  font-weight: 300;
  font-size: 26px;
}
.body {
  background-color: #ccf381;
}
footer {
  background-color: #ccf381;
}
footer h3 {
  color: #4831d4;
  font-size: 46px;
}
